<mat-card class="form-card">
    <h2>{{formType}}</h2>

    <form [formGroup]="genericFormGroup" (ngSubmit)="send()">
            <ng-container *ngFor="let field of flatScheme; let i = index">
                <h3 *ngIf="field.ui?.title"  [ngStyle]="{'padding-left.px': (field.ui.indent -1) * 25}">{{field.ui.title | titlecase}}</h3>
                <mat-form-field [ngStyle]="{'padding-left.px': field.ui.indent * 25}">
                    <mat-label>{{field.key}}</mat-label>
                    <input *ngIf="field.ui.isInput" [type]="field.type" matInput formControlName="{{field.key}}">

                    <mat-select *ngIf="field.type === 'enum'" formControlName="{{field.key}}">
                        <mat-option *ngFor="let value of field.enumValues" [value]="value">{{value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <button class="submit" mat-raised-button color="primary" type="submit">Send</button>
        </form>
</mat-card>
