:host {
    main {
        height: calc(100vh - 64px);
        overflow-y: auto;
        display: flex;
        justify-content: center;

        .container{
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1000px;
            padding-top: 15px;

            mat-spinner {
                margin: 0 auto;
            }
        }
    }
}
