:host {
    h2 {

        text-align: center;
        font-size: 30px;
        padding: 20px;
    }

    .circles {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: baseline;

        div.select-form {
            box-sizing: border-box;
            width: 14vw;
            height: 14vw;
            border: 15px solid #12a8c0;
            border-radius: 100%;
            text-align: center;
            color: #12a8c0;
            background-color: white;
            margin: 10px 20px;
            cursor: pointer;
            outline: none;

            display: flex;
            justify-content: center;
            align-content: center;

            &:hover {
                border-color: #0a7a8c;
                color: #0ea7bf;
            }

            span {
                display: flex;
                align-items: center;
                font-size: calc(1vw + 1em);
            }

            @media screen and (max-width: 700px) {
                width: 40vw;
                height: 40vw;

                span{
                    font-size: calc(2vw + 1em);
                }
            }
        }
    }
}
