:host {
    .form-card {
        padding: 1.5vw 3vw;

        h2 {
            text-align: center;
        }

        form {
            max-width: 500px;

            mat-form-field {
                min-width: 400px;
            }

            input {
                width: 100%;
            }

            button[type=submit].submit {
                line-height: 40px;
                margin: 10px 40px 0;

                >>> .mat-button-wrapper {
                    background-color: forestgreen;
                    display: flex;
                    justify-content: center;

                    mat-icon.submit-icon {
                        font-size: 20px;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}
